*.html
iseconfig/
_xmsgs
*.gise

*.log
*.exe
*.xml
*.ini
*.cmd
*.prj
*.wdb
xst/
isim/
*.xmsgs
*.xrpt
*.cmd_log
*.lso
*.ngc
*.ngr
*.stx
*.syr
*.xst
*.vhi
*.bit
*.bgn
*.bld
*.drc
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.mrp
*.csv
*.txt
*.tcl
planAhead*/
xlnx*/
*.ngm
_ngo/
*.odt#
~$*
*~
*.~lock.*
*.bin
